.wrapper{
  background-color: #6696BB;
  min-height: 70px;
}

.wrapper .header h1{
  font-weight: bold;
  color: black;
}

.wrapper .option >ul >li{
  //margin-left: 20%;
  font-size: 20px;
  list-style: none;
  color: black;
}
