@mixin width-1095{
  @media (min-width: 925px) and (max-width: 1095px){
    @content;
  }
}

@mixin width-925{
  @media (min-width: 690px) and (max-width: 925px){
    @content;
    //1042
  }
}

@mixin width-688{
  @media (min-width: 599px) and (max-width: 688px){
    @content;
    //1042
  }
}

@mixin width-688{
  @media (min-width: 599px) and (max-width: 690px){
    @content;
    //1042
  }
}

.wrapper{
  background-color: #95ADCF;
  min-height: 80px;
}

.wrapper .header h1{
  //font-weight: bold;
  font-size: 40px;
  color: #3F3D56;
  margin-right: 40%;
  @include width-1095{
    font-size: 35px;
  }
  @include width-925{
    font-size: 25px;
  }
  @include width-688{
    font-size: 20px;
  }
}

.wrapper .option > ul{
  //border: 1px solid red;
  margin-left: 35%;
}

.wrapper .option >ul >li{
  //margin-left: 50%;
  list-style: none;
  color: #3F3D56;
  p{
    //margin-left: 50%;
    //border: 1px solid red;
    font-size: 30px;

    @include width-1095{
      font-size: 25px;
    }
    @include width-925{
      font-size: 18px;
    }
    @include width-688{
      font-size: 15px;
    }
  }
}
