@mixin gt-lg{
  @media (max-width: 1145px){
    @content;
  }
}

@mixin lg{
  @media (max-width: 835px){
    @content;
  }
}

@mixin xs{
  @media (max-width: 599px){
    @content;
  }
}

.wrapper{
  background-color: #95ADCF;
  min-height: 80px;
}

.wrapper .header{
  width: 100%;
  @include xs{
    margin-left: 50px;
  }
}

.wrapper .option{
  @include xs{
    //margin-right: 50px;
  }
  @include lg{
    //margin-right: 50px;
  }
}

.wrapper .header h1{
  //font-weight: bold;
  font-size: 40px;
  color: #3F3D56;
  margin-right: 40%;
  @include gt-lg{
    font-size: 30px;
  }
  @include lg{
    font-size: 25px;
  }
  @include xs{
    font-size: 18px;
  }
}

.wrapper .option > ul{
  //border: 1px solid red;
  margin-left: 35%;
}

.wrapper .option >ul >li{
  //margin-left: 50%;
  list-style: none;
  color: #3F3D56;
  text-align: center;
  p{
    font-size: 30px;
    @include gt-lg{
      font-size: 20px;
    }
    @include gt-lg{
      font-size: 15px;
    }
  }
}
