.wrapper .img .api-img{
  width: 100%;
}

.wrapper .nav-bar{
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

.wrapper .nav-bar .nav-header{
  //border: 1px solid red;
  padding-top: 50px;
  padding-left: 150px;
}

.wrapper .nav-bar .nav-option{
  //border: 1px solid red;
  padding-top: 50px;
  padding-right: 150px;
}

.wrapper .nav-bar .nav-option > ul > li{
  font-size: 30px;
  list-style: none;
}

.wrapper .nav-bar .nav-option a{
  text-decoration: none;
  color: black;
}

.wrapper .introduction{
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 20%;
  //border: 1px solid red;

  p{
    font-size: 50px;
    //margin-left: 35%;
  }
}

.wrapper .search-box{
  //border: 1px solid red;
  position: absolute;
  z-index: 1;
  top: 0;
  //margin-left: 5%;
  margin-top: 25%;
}

.wrapper .search-box .mat-form-field{
  width: 800px;
  height: 1px;
}

.wrapper .search-box .mat-form-field .mat-label{
  font-size: 20px;
}

.wrapper .search-box .mat-form-field .mat-label .text-area{
  font-size: 20px;
}

.wrapper .search-box .search-button{
  top:6px;
  height: 75px;
  width: 220px;

  mat-icon{
    font-size: 55px;
    height: 50px;
  }

  p{
    font-size: 45px;
  }

}
