@mixin gt-el{
  @media (min-height: 920px){
    @content;
  }
}
@mixin gt-lg{
  @media (max-width: 1406px){
    @content;
  }
}

@mixin md{
  @media (max-width: 852px){
    @content;
  }
}

@mixin lt-md{
  @media (max-width: 511px){
    @content;
  }
}

.wrapper{
  //background-color: royalblue;
  .inner-wrapper{
    min-height: 750px;

    @include gt-el{
      min-height: 900px;
    }

    .left{
      min-height: 750px;
      //background-color: #4EC9C3;
      background-color: #DADDE2;
      @include gt-el{
        min-height: 900px;
      }
    }
    .right{
      min-height: 750px;
      background-color: #DADDE2;
      @include gt-el{
        min-height: 900px;
      }
    }
  }
}

.wrapper .inner-wrapper .left img{
  width: 100%;
}

.wrapper .inner-wrapper .right{
  .upper{
    //background-color: #00A0F3;
  }
  .lower{
    //background-color: rebeccapurple;
  }
}

.wrapper .inner-wrapper .right .intro{
  margin-left: 5%;
  margin-top: 30%;
  margin-bottom: 10%;
  font-size: 30px;
  color: #3F3D56;
  line-height: 25px;
  text-align: center;
  @include gt-lg{
    font-size: 25px;
  }
  @include gt-lg{
    font-size: 25px;
  }
}

.wrapper .inner-wrapper .right .lower .search-box{
  //background-color: yellow;
  .mat-form-field{
    margin-left: 19%;
    .mat-label{
      color: #3F3D56;
      font-size: 20px;
    }
    .text-area{
      //font-size: 20px;
      color: #3F3D56;
    }
  }
}

::placeholder {
  color: #3F3D56;
  opacity: 1;
  font-size: 15px;
}

.wrapper .inner-wrapper .right .lower .button{
  //background-color: orangered;
  a{
    .search-button{
      height: 14%;
      background-color: #DADDE2;
      border: 3px solid #3F3D56;
      mat-icon{
        color: #3F3D56;
      }
    }
  }
}
