.wrapper{
  .left{
    width: 45%;
    height: 800px;
    background-color: lightskyblue;
  }
  .right{
    width: 55%;
    height: 800px;
    //background-color: #aed6dc;
    background-color: #383838;
  }
}

.wrapper .left .svg{
  //border: 1px solid red;
  img{
    width: 85%;
  }
}

.wrapper .right .nav-option{
  //border: 1px solid red;
  //width: 100%;
  margin-top: 30px;
  margin-left: 250px;
}

.wrapper .right .nav-option > ul > li{
  font-size: 40px;
  list-style: none;
  a{
    text-decoration: none;
    color: burlywood;
  }
}

.wrapper .right .headline{
  //border: 1px solid red;
  margin-top: 150px;
  width: 100%;
  .introduction1{
    //for typo
    //color: darkslategray;
    color: burlywood;
    font-size: 50px;
  }
  .introduction2{
    font-size: 25px;
    color: burlywood;
  }
}

.wrapper .right .search-box{
  margin-top: 5%;
  //border: 1px solid red;
}

.wrapper .right .search-box .mat-form-field{
  width: 550px;
  height: 1px;
}

.wrapper .right .search-box .mat-form-field .mat-label{
  font-size: 20px;
  color: burlywood;
}

::placeholder {
  color: burlywood;
  opacity: 1;
  font-size: 20px;
}

.wrapper .right .search-box .mat-form-field .text-area{
  font-size: 25px;
  color: burlywood;
}

.wrapper .right .search-box  .search-button{
  top:6px;
  height: 90px;
  width: 100px;
  background-color: #383838;
  border-radius: 10px;
  border: 3px solid burlywood;

  mat-icon{
    font-size: 70px;
    height: 60px;
    margin-right: 35px;
    color: burlywood;
  }
}
