<div class="wrapper" fxLayout="row" fxLayoutAlign="space-around center">

  <div class="img">
    <img class="api-img" src="assets/weather-api.jpg">
    <!--<img class="api-img" src="assets/night.jpeg">-->
  </div>

  <div class="nav-bar" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="nav-header">
      <h1>WeatherApp</h1>
    </div>

    <div class="nav-option">
      <ul fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="55px">
        <li>
          <a routerLink="/blog" routerLinkActive="active">About Us</a>
        </li>
        <li>
          <a routerLink="/blog" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="introduction">
    <p>Something about the website</p>
  </div>

  <div class="search-box" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">

    <div>
      <mat-form-field class="mat-form-field" appearance="fill">
        <mat-label class="mat-label">Search a city</mat-label>
        <textarea class="text-area" matInput placeholder="Ex. Bangladesh..." [(ngModel)]="cityName"></textarea>
      </mat-form-field>
    </div>

    <div>
      <button class="search-button" mat-raised-button (click)="buttonClicked(cityName)">

        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="25px">
          <mat-icon>search</mat-icon>
          <p>Search</p>
        </div>

      </button>
    </div>


  </div>
</div>

<app-fetch-details [cityName]="cityName" [temperature]="temperature"></app-fetch-details>
