<div class="wrapper" fxLayout="row" fxLayoutAlign="space-around center">

  <div class="left" fxLayout="column" fxLayoutAlign="space-evenly center">

    <div class="typo">

    </div>

    <div class="svg" fxLayout="column" fxLayoutAlign="space-evenly center">
      <img src="assets/weather.svg">
    </div>

  </div>

  <div class="right" fxLayout="column" fxLayoutAlign=" center">

    <div class="nav-option">
      <ul fxLayout="row" fxLayoutAlign="center" fxLayoutGap="55px">
        <li fxLayout="row" fxLayoutAlign="center center">
          <a routerLink="/blog" routerLinkActive="active">ABOUT US</a>
        </li>
        <li fxLayout="row" fxLayoutAlign="center center">
          <a routerLink="/blog" routerLinkActive="active">CONTACT US</a>
        </li>
      </ul>
    </div>

    <div class="headline"  fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="20px">
      <p class="introduction1">Weather Forecast</p>
      <p class="introduction2">Find the update and make your day easier</p>
    </div>

    <div class="search-box" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="5px">

      <div>
        <mat-form-field class="mat-form-field" appearance="fill">
          <mat-label class="mat-label">Search a city</mat-label>
          <textarea class="text-area" matInput placeholder="Ex. Bangladesh..." [(ngModel)]="cityName"></textarea>
        </mat-form-field>
      </div>

      <div>
        <a href="#search-details">
          <button class="search-button" mat-raised-button
                  fxLayoutAlign="row" fxLayoutAlign="center center"
                  (click)="buttonClicked(cityName)">
            <mat-icon>search</mat-icon>
          </button>
        </a>
      </div>

    </div>

  </div>

</div>

<app-fetch-details
  [cityName] = "cityName"
  [temperature] = "temperature"
  [iconName] = "icon"
  [minTemp] = "minTemp"
  [maxTemp] = "maxTemp"
  [humidity] = "humidity"
  [wind] = "wind">
</app-fetch-details>
