<div class="wrapper" id="search-details">

  <div class="alt-inner-wrapper" *ngIf="!searchToken" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <img class="img" src="assets/error.svg">
    <h1 class="warning">404 Error, there was nothing to search.</h1>
    <a  href="#search-btn"><button mat-raised-button>Go TO Search Panel</button></a>
  </div>

  <div class="inner-wrapper" fxLayout=" wrap" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="searchToken">

    <div class="report" fxFlex="100%"  fxFlex.sm="100%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <p class="headline">Today's Report</p>
      <p class="date">{{date | date:'mediumDate'}}</p>
    </div>

    <div class="details" fxFlex="100%" fxFlex.sm="100%" fxFlex.sm="100%" fxLayout=" wrap" fxLayoutAlign="center">

      <div class="left" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center">

        <mat-card class="mat-left" fxLayout="column wrap" fxLayoutAlign="space-evenly center" fxFlex="80%">

          <div class="left-top" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayout=" wrap" fxLayoutAlign="space-evenly center">
            <p class="city-name">{{cityName}}</p>
          </div>

          <div class="left-bottom" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayout="row wrap" fxLayoutAlign="space-between center">

            <div class="temperature" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%"
                 fxLayout="column" fxLayoutAlign="space-evenly center"
                 fxLayoutGap="25px">
              <p class="temp">{{(temperature - 273.15).toFixed(0)}}°C</p>
              <p class="feel-temp">Feels like {{(feelslike - 273.15).toFixed(0)}}°C</p>
            </div>

            <div class="img" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%">
              <img class="icon-img" [src]="weatherIcon">
            </div>

          </div>

        </mat-card>

      </div>

      <div class="right" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center">

        <mat-card class="mat-right" fxLayout="column wrap" fxLayoutAlign="space-evenly center" fxFlex="80%">
          <div class="right-top" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%"
               fxLayout=" wrap" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayout.sm="column">

            <div fxLayout="row" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%"
                 fxLayoutAlign="center center" fxLayoutGap="10px">
              <i class="fa-solid fa-temperature-low"></i>
              <p class="temp-text">{{(minTemp - 273.15).toFixed(0)}}°C</p>
            </div>

            <div fxLayout="row" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%"
                 fxLayoutAlign="center center" fxLayoutGap="10px">
              <i class="fa-solid fa-temperature-high"></i>
              <p class="temp-text">{{(maxTemp - 273.15).toFixed(0)}}°C</p>
            </div>

          </div>

          <div class="right-bottom" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayout=" wrap"
               fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayout.sm="column">

            <div fxLayout="row" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%"
                 fxLayoutAlign="center center" fxLayoutGap="10px">
              <i class="fa-solid fa-droplet"></i>
              <p class="temp-text">{{humidity}}%</p>
            </div>

            <div fxLayout="row" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayoutAlign="center center" fxLayoutGap="10px">
              <i class="fa-solid fa-wind"></i>
              <p class="temp-text">{{wind}} km/h</p>
            </div>

          </div>

        </mat-card>

      </div>

    </div>

  </div>
</div>
