.wrapper{
  background-color: #9C9F84;
}

.wrapper .report{
  border: 1px solid red;
}

.wrapper .report .heading{

}

.wrapper .report .date-time{
  .date{
    font-size: 35px;
  }
  .time{
    font-size: 25px;
  }
}
