<div class="wrapper" fxLayout="column" id="search-details">

  <div class="report" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="heading">
      <p>Today's report</p>
    </div>

    <div class="date-time" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="5px">
      <p class="date">{{date | date:'mediumDate'}}</p>
      <p class="time">{{date | date:'shortTime'}}</p>
    </div>
  </div>

  <div class="details" fxLayout="row" fxLayoutAlign="space-around center">

      <mat-card fxLayout="column" fxLayoutAlign="space-evenly center">
        <!--<p style="font-size: 50px">{{cityName}}</p>
        <p style="font-size: 50px">{{(temperature - 273.15).toFixed(0)}}°C</p>
      -->
        <div>
          <p style="font-size: 50px">{{cityName}}</p>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
          <p style="font-size: 50px">{{(temperature - 273.15).toFixed(0)}}°C</p>
          <img style="border: 1px solid red; width: 50px" [src]="weatherIcon">
        </div>

      </mat-card>


      <mat-card fxLayout="column" fxLayoutAlign="space-around center">

        <div style="width: 100%; border: 1px solid red" class="right-top" fxLayout="row" fxLayoutAlign="space-around center">

          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <img style="width: 35px" src="assets/cold.png">
            <p style="font-size: 50px">{{(minTemp - 273.15).toFixed(0)}}°C</p>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <img style="width: 35px" src="assets/hot.png">
            <p style="font-size: 50px">{{(maxTemp - 273.15).toFixed(0)}}°C</p>
          </div>

        </div>

        <div style="width: 100%; border: 1px solid red" class="right-bottom" fxLayout="row" fxLayoutAlign="space-around center">

          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <img style="width: 35px" src="assets/humidity.png">
            <p>{{humidity}}%</p>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <img style="width: 35px" src="assets/autumn.png">
            <p>{{wind}} km/h</p>
          </div>

        </div>
      </mat-card>

  </div>

</div>


<!--<div style="width: 100%; background-color: pink">
  <p style="font-size: 50px">{{(temperature - 273.15).toFixed(0)}}°C</p>
  <p style="font-size: 50px">{{cityName}}</p>
</div>-->

