.wrapper{
  //background-color: lightskyblue;
  //min-height: 550px;
  .inner-wrapper{
    min-height: 550px;
  }
  .report{
    background-color: #006CA7;
    min-height: 100px;
  }
  .details{
    background-color: #006CA7;
  }
}

.wrapper .inner-wrapper .report{
  .headline{
    font-size: 40px;
  }
  .date{
    font-size: 30px;
  }
}

.wrapper .inner-wrapper .details .left{
  //background-color: #D1F5FF;
  min-height: 600px;
}

.wrapper .inner-wrapper .details .left .mat-left{
  border-radius: 20px;
  height: 450px;
  min-height: 250px;
  margin-top: 40px;
  background-color: steelblue;
  .left-top{
    width: 100%;
    .city-name{
      font-size: 40px;
    }
  }
  .left-bottom{
    width: 100%;
  }
}

.wrapper .inner-wrapper .details .right{
  min-height: 600px;
}

.wrapper .inner-wrapper .details .right .mat-right{
  background-color: steelblue;
  border-radius: 20px;
  height: 450px;
  min-height: 250px;
  margin-top: 40px;
  .right-top{
    width: 100%;
    i{
      font-size: 40px;
    }
    .temp-text{
      font-size: 40px;
    }
  }

  .right-bottom{
    width: 100%;
    i{
      font-size: 40px;
    }
    .temp-text{
      font-size: 40px;
    }
  }
}

