<div class="wrapper" fxLayout="column" id="search-details">

  <div class="report" fxLayout="column" fxLayoutAlign="space-around center"  fxLayoutGap="25px">
    <div class="heading">
      <p>Today's report</p>
    </div>

    <div class="date-time" fxLayout="column" fxLayoutAlign="space-around center">
      <p class="date">{{date | date:'mediumDate'}}</p>
      <!--<p class="time">{{date | date:'shortTime'}}</p>-->
    </div>
  </div>

  <div class="details" fxLayout="row" fxLayoutAlign="space-around center">

      <mat-card class="mat-left" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="left-top" fxLayout="row" fxLayoutAlign="space-evenly center">
          <p class="city-name">{{cityName}}</p>
          <!--<mat-icon class="location-icon">location_on</mat-icon>-->
        </div>

        <div class="left-bottom" fxLayout="row" fxLayoutAlign="space-evenly center">
          <p class="temp" style="font-size: 50px">{{(temperature - 273.15).toFixed(0)}}°C</p>
          <img [src]="weatherIcon">
        </div>
      </mat-card>

      <mat-card class="mat-right" fxLayout="column" fxLayoutAlign="space-around center">

        <div class="right-top" fxLayout="row" fxLayoutAlign="space-around center">

          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
            <i class="fa-solid fa-temperature-low"></i>
            <p class="temp-text">{{(minTemp - 273.15).toFixed(0)}}°C</p>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
            <i class="fa-solid fa-temperature-high"></i>
            <p class="temp-text">{{(maxTemp - 273.15).toFixed(0)}}°C</p>
          </div>

        </div>

        <div class="right-bottom" fxLayout="row" fxLayoutAlign="space-around center">

          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
            <i class="fa-solid fa-droplet"></i>
            <p class="temp-text">{{humidity}}%</p>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
            <i class="fa-solid fa-wind"></i>
            <p class="temp-text">{{wind}} km/h</p>
          </div>
        </div>

      </mat-card>

  </div>

</div>


<!--<div style="width: 100%; background-color: pink">
  <p style="font-size: 50px">{{(temperature - 273.15).toFixed(0)}}°C</p>
  <p style="font-size: 50px">{{cityName}}</p>
</div>-->

